* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* cursor:  none; */
}

#game-container {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 100vh;
}

canvas {
    image-rendering: optimizeQuality;
}

canvas:hover {
    cursor: none;
}

.game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    image-rendering: optimizeQuality;
}

.game-canvas:first-of-type {
   background-color: black;
}


.pause-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    width: 200px; /* Adjust the width as desired */
  }
  
  .resume-button {
    background-color: #4287f5;
    color: #fff;
  }
  
  .quit-button {
    background-color: #f54242;
    color: #fff;
  }
  

  .menu-button {
    background: rgba(128, 0, 128, 0.7);
    border: 2px solid rgba(128, 0, 128, 0.9);
    color: #f8e4ff;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
}

.menu-button:hover {
    transform: scale(1.1);
    background: rgba(128, 0, 128, 0.9);
    box-shadow: 0 0 20px rgba(128, 0, 128, 1), 0 0 30px rgba(128, 0, 128, 1);
}

.menu-button:active {
    background: rgba(128, 0, 128, 0.8);
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.5);
}

.time-survived {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

#start-modal {
    display: block;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 3px solid #d100d1;
    text-align: center;
    width: 70%;
    max-width: 400px;
}

.modal h1 {
    color: #ff2d6f;
    font-size: 32px;
    margin-bottom: 20px;
}

.modal p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d100d1;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal button:hover {
    background-color: #ff2d6f;
    transform: scale(1.1);
}