* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Handjet', cursive;
    letter-spacing: 0.2vw;
    font-weight: 400;
}

#game-container {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
}

#game-container:hover {
    cursor: none;
}

.game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    image-rendering: optimizeQuality;
}

.game-canvas:first-of-type {
    background-color: black;
}


.pause-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    width: 200px;
    /* Adjust the width as desired */
}

.resume-button {
    background-color: #4287f5;
    color: #fff;
}

.quit-button {
    background-color: #f54242;
    color: #fff;
}


.menu-button {
    background: rgba(128, 0, 128, 0.7);
    border: 2px solid rgba(128, 0, 128, 0.9);
    color: #f8e4ff;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
}

.menu-button:hover {
    transform: scale(1.1);
    background: rgba(128, 0, 128, 0.9);
    box-shadow: 0 0 20px rgba(128, 0, 128, 1), 0 0 30px rgba(128, 0, 128, 1);
}

.menu-button:active {
    background: rgba(128, 0, 128, 0.8);
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.5);
}

.time-survived {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#start-modal {
    display: block;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 3px solid #d100d1;
    text-align: center;
    width: 70%;
    max-width: 400px;
}

.modal h1 {
    color: #ff2d6f;
    font-size: 32px;
    margin-bottom: 20px;
}

.modal p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d100d1;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal button:hover {
    background-color: #ff2d6f;
    transform: scale(1.1);
}



#start-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
}

#start-canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -5;
}

.title {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Handjet', cursive;
    letter-spacing: 1vw;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: shake 6s infinite;
}

.title:nth-of-type(2) {

    color: #30FEFF;
    z-index: -1;
    animation-delay: 0.2s;
}

.title:nth-of-type(3) {

    color: #FF1816;
    z-index: -2;
    animation-delay: 0.4s;
}

#play-button {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    
}

#play-button:not(:disabled) {
    background-color: #980ed4;
}

#play-button:disabled {
    cursor: not-allowed;
}

#play-button:hover:not(:disabled) {
    background-color: #b029e9;
    transform: translate(-50%, -50%) scale(1.05);
}

#play-button:active:not(:disabled) {
    background-color: #21618c;
    transform: scale(0.95) translate(-50%, -50%);
}

@keyframes shake {
    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-50.5%, -50%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(-49.5%, -50%);
    }

    15%,
    35%,
    55%,
    75%,
    95% {
        transform: translate(-50.25%, -50%);
    }

    25%,
    45%,
    65%,
    85% {
        transform: translate(-49.75%, -50%);
    }
}

.game-desc {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}