* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Handjet', cursive;
    letter-spacing: 0.2vw;
    font-weight: 400;
}

#game-container {
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
}

#game-container:hover {
    cursor: none;
}

.game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    image-rendering: optimizeQuality;
}

.game-canvas:first-of-type {
    background-color: black;
}


.pause-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    user-select: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    width: 200px;
    transition: 0.2s;
    /* Adjust the width as desired */
}

.resume-button {
    background-color: #4287f5;
    color: #fff;
}

.quit-button {
    background-color: #f54242;
    color: #fff;
}


.menu-button {
    background: rgba(128, 0, 128, 0.7);
    border: 2px solid rgba(128, 0, 128, 0.9);
    color: #f8e4ff;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
}

.menu-button:hover {
    transform: scale(1.1);
    background: rgba(128, 0, 128, 0.9);
    box-shadow: 0 0 20px rgba(128, 0, 128, 1), 0 0 30px rgba(128, 0, 128, 1);
}

.menu-button:active {
    background: rgba(128, 0, 128, 0.8);
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.5);
}

.time-survived {
    color: white;
    position: absolute;
    right: 5%;
    top: 5%;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#landing-page {
    display: block;
}

.modal-content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border: 3px solid #d100d1;
    text-align: center;
    width: 70%;
    max-width: 400px;
}

.modal h1 {
    color: #ff2d6f;
    font-size: 32px;
    margin-bottom: 20px;
}

.modal p {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d100d1;
    border: none;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal button:hover {
    background-color: #ff2d6f;
    transform: scale(1.1);
}



#landing-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

#start-canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -5;
}

.container {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.title {
    font-size: 8vw;
    color: white;
    font-weight: bold;
    position: relative;
    letter-spacing: 1vw;
}

span.title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

span.title:nth-last-of-type(1) {
    color: #FF0000;
    z-index: -1;
}

span.title:nth-last-of-type(2) {
    color: #01FFFF;
    z-index: -2;
}

.game-desc {
    position: relative;
    padding: 3vh;
    color: white;
    font-size: 1.5em;
}

.button-container {
    padding: 10px;
}

#play-button {
    color: white;
    transition: 0.2s;
}

#play-button:not(:disabled) {
    background-color: rgb(192, 27, 230);
}

#play-button:not(:disabled):hover {
    transform: scale(1.08);
    background-color: rgb(208, 0, 255);
}

#how-to-play-btn:hover {
    transform: scale(1.08);
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(-50%);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-50.5%);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(-49.5%);
    }

    15%,
    35%,
    55%,
    75%,
    95% {
        transform: translateX(-50.25%);
    }

    25%,
    45%,
    65%,
    85% {
        transform: translateX(-49.75%);
    }
}



#how-to-play-modal {
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
}

#how-to-play-modal .modal-content {
    position: relative;
    background-color: #333;
    padding: 30px;
    border: 3px solid #d100d1;
    text-align: center;
    width: 70%;
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
}

#how-to-play-modal h2 {
    padding: 20px;
}

#how-to-play-modal table {
    padding: 20px;
    background-color: #272727;
}

#how-to-play-modal table th {
    font-weight: bold;
    letter-spacing: 0.5vw;
    font-size: 20px;
}

#how-to-play-modal table td, #how-to-play-modal table th {
    padding: 10px;
}

#how-to-play-modal table td {
    font-size: light;
}


#how-to-play-modal .close {
    font-size: 50px;
    position: absolute;
    right: 5px;
    top: 5px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
}

#how-to-play-modal .close:hover {
    transform: scale(1.2);
}

#how-to-play-modal .close:active {
    color: rgb(214, 0, 0);
}

